	body {	width: 100%;
		font-size: 16pt;
		color: black;
		background: url(../htmlfiles/clipboard.jpg);
		font-family: marigold, arial;
		font-weight: normal;
		font-style: normal;
		text-align: center;
		margin: auto;
		padding: 50px 0px 0px 0px;
		}

/*  stuff that follows is used in facing page htm coding */

	table.album { width: 750px;
		border-collapse: collapse;
		background: url(../htmlfiles/album.jpg);
		border-style: solid;
		border-width: 0px 0px 2px 0px;
		border-color: black;
		font-family: arial,"times new roman";
		padding: 0px;
		margin: auto;
	}

	td.photo{
		width: 375px;
		height: 300px;
		vertical-align: bottom;
		text-align: center;
	}

	td.caption{
		font-family: courier,"comic sans ms";
		font-size: 1.0em;
		font-weight: normal;
		color: white;
		width: 50%;
		height: 75px;
		vertical-align: center;
		text-align: center;
		margin: 15px 5px;
	}

	#beej{	margin: 10px 30px;
/*		background: #007;
		border-width: 0px 1px 1px 0px;
		border-style: solid;
		border-color: black;
*/
	}

	img.page0 {
		border-style: solid;
		border-width: 2px;
		border-color: black;
		width: 320px;
		padding: 2px;
		background: white;
	}

	img.page1 {
		border-style: solid;
		border-width: 1px;
		border-color: black;
		height: 250px;
		padding: 2px;
		background: white;
	}


/* stuff that follows if for the album cover html file */

	table.cover { width: 375px;
		border-collapse: collapse;
		background: url(../htmlfiles/cover.jpg);
		border-style: solid;
		border-width: 0px 0px 2px 0px;
		border-color: black;
		font-family: arial,"times new roman";
		padding: 0px;
		margin: auto;
	}

	td.cover1{
		width: 375px;
		height: 325px;
		vertical-align: center;
		text-align: center;
	}

	td.cover2{
		width: 360px;
		padding: 0px 15px 0px 0px;
		height: 50px;
		font-size: 0.8em;
		vertical-align: bottom;
		text-align: right;
	}

	#bee{	margin: 10px 250px;
/*		background: #007;
		border-width: 0px 1px 1px 0px;
		border-style: solid;
		border-color: black;
*/
		background: transparent;
		color: white;
		font-family: courier;
	}


/*  navigation table for facing page html */

	table.nav { width: 750px;
		border-collapse: collapse;
		background: transparent;
		border-style: solid;
		border-width: 0px 0px 0px 0px;
		border-color: black;
		font-family: mathsofttext,marigold,verdana;
		margin: auto;
	}

	td.left{
		color: white;
		width:200px;
		vertical-align:center;
		text-align:left;
	}

	td.center{
		color: white;
		width:300px;
		vertical-align:center;
		text-align:center;
	}

	td.right{
		color: white;
		width:200px;
		vertical-align:center;
		text-align:right;
	}

	table.covernav { width: 375px;
		border-collapse: collapse;
		background: transparent;
		border-style: solid;
		border-width: 0px 0px 0px 0px;
		border-color: black;
		font-family: mathsofttext,marigold,verdana;
		margin: auto;
	}

	td.middle{
		color: white;
		width:375px;
		vertical-align: center;
		text-align: center;
	}

/*  miscellaneous classes */

	a.bj { 	text-decoration: none;
		font-family: mathsofttext,verdana;
		color: white;
	}

	a.bj2 { text-decoration: none;
		font-family: mathsofttext,verdana;
		font-size: 1.2em;
		color:white;
	}

	img.solo {
		border-style: solid;
		border-width: 2px;
		border-color: black;
		padding: 0px;
		background: white;
	}

	h1 {	color: white;
		font-family: mathsofttext,marigold,verdana;
		font-weight: normal;
		font-style: italic;
		border: 0px;
		margin: 0px;
		padding: 0px;
	}

	h2 {	color: white;
		font-size: 1.4em;
		font-family: mathsofttext,marigold,verdana;
		font-weight: normal;
		font-style: italic;
		border: 0px;
		margin: 0px;
		padding: 0px;
	}

	h3 {	color: white;
		font-size: 1.4em;
		font-family: "Times New Roman";
		font-weight: normal;
		font-style: italic;
		border: 0px;
		margin: 0px;
		padding: 0px;
	}

/*  styles for table of contents */

	table.toc {
		width: 700px;
		border-collapse: collapse;
/*		background: url(notebooktile.jpg);
		border-style: none;
		border-width: 0px 0px 3px 0px;
		border-color: black;
*/
		font-family: mathsofttext,verdana;
		padding: 0px;
		margin: auto;
	}

	td.num {
		width: 200px;
		font-family: mathsofttext,verdana;
		font-size: 1.1em;
		font-weight: bold;
		text-align: center;
		color: white;
	}

	td.cap {
		width: 500px;
		font-family: mathsofttext,verdana;
		font-size: 1.1em;
		font-weight: bold;
		text-align: left;
		color: white;
	}
